<!DOCTYPE html>
<html>
  <head>
    <title>Grocery Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="login">
  		<img src="/images/logo.png" style="max-height: 70px; display: inline;" align="left">
        <p id="login">LOGIN</p>
  	</div>
    <div id="header">
    	<p id="title">Groceries Store</p>
    </div>
    <div style="height: 30px;"></div>
    <div class="product">
    	<div class="product_image">
    		<img src="/images/carrot.jpg">
    	</div>
    	<div class="product_name">
    		<p><b>Carrots</b></p>
    	</div>
    	<div class="options">
    		<img src="/images/cart.jpg" style="max-width: 30px; display: inline;" align="left">
    		<button id="buy"><b>Buy</b></button>
    	</div>
    </div>
    <div class="product">
    	<div class="product_image">
    		<img src="/images/potato.jpg">
    	</div>
    	<div class="product_name">
    		<p><b>Potatos</b></p>
    	</div>
    	<div class="options">
    		<img src="/images/cart.jpg" style="max-width: 30px; display: inline;" align="left">
    		<button id="buy"><b>Buy</b></button>
    	</div>
    </div>
    <div class="product">
    	<div class="product_image">
    		<img src="/images/brocolli.jpg">
    	</div>
    	<div class="product_name">
    		<p><b>Broccoli</b></p>
    	</div>
    	<div class="options">
    		<img src="/images/cart.jpg" style="max-width: 30px; display: inline;" align="left">
    		<button id="buy"><b>Buy</b></button>
    	</div>
    </div>
    <div class="product">
    	<div class="product_image">
    		<img src="/images/bread.jpg">
    	</div>
    	<div class="product_name">
    		<p><b>Bread</b></p>
    	</div>
    	<div class="options">
    		<img src="/images/cart.jpg" style="max-width: 30px; display: inline;" align="left">
    		<button id="buy"><b>Buy</b></button>
    	</div>
    </div>
    <div class="product">
        <div class="product_image">
            <img src="/images/onion.jpg">
        </div>
        <div class="product_name">
            <p><b>Onions</b></p>
        </div>
        <div class="options">
            <img src="/images/cart.jpg" style="max-width: 30px; display: inline;" align="left">
            <button id="buy"><b>Buy</b></button>
        </div>
    </div>
    <div class="product">
        <div class="product_image">
            <img src="/images/oregano.jpg">
        </div>
        <div class="product_name">
            <p><b>Oregano</b></p>
        </div>
        <div class="options">
            <img src="/images/cart.jpg" style="max-width: 30px; display: inline;" align="left">
            <button id="buy"><b>Buy</b></button>
        </div>
    </div>
  </body>
</html>
