<div class="container col-md-6">
    <div class="head">
        <h6><b>Register</b></h6>
        <a class="btn-dark btn" routerLink="signin">Sign In</a>
    </div>
    <div>
        <form #registerationForm="ngForm" (ngSubmit)="registerationForm.valid && registerUser(registerationForm)" style="margin:20px;">
            <div class="form-group">
                <label><b>Name:</b></label>
                <input type="text" #fullName="ngModel" ngModel name="fullName" placeholder="Enter your full name" class="form-control" [class.is-invalid]="registerationForm.submitted && !fullName.valid" required >
                <label *ngIf="registerationForm.submitted && !fullName.valid" class="val-msg">This is required field</label>
            </div>
            <div class="form-group">
                <label><b>Email:</b></label>
                <input type="text" #email="ngModel" ngModel  name="email" placeholder="Enter email" class="form-control" [class.is-invalid]="registerationForm.submitted && !email.valid" required [pattern]="emailRegex">
                <div *ngIf="registerationForm.submitted && !email.valid">
                    <label *ngIf="email.errors.required" class="val-msg">This is a required field</label>
                    <label *ngIf="email.errors.pattern" class="val-msg">Enter a valid email</label>
                </div>
            </div>
            <div class="form-group">
                <label><b>Password</b></label>
                <input type="password" #password="ngModel" ngModel name="password" placeholder="Enter password" class="form-control" [class.is-invalid]="registerationForm.submitted && !password.valid" required minlength="4">
                <div *ngIf="registerationForm.submitted && !password.valid">
                    <label *ngIf="password.errors.required" class="val-msg">This is a required field</label>
                    <label *ngIf="password.errors.minlength" class="val-msg">Password must have atleast 4 characters</label>
                </div>
            </div>
            <div class="register-btn" style="justify-content: center; display: flex; margin-top: 30px;">
                <input type="submit" class="btn-dark btn" value="Register"/>
            </div>
        </form>
    </div>
</div>