<div class="container col-md-6">
    <div class="head">
        <h5><b>Sign In</b></h5>
        <a class="btn-dark btn" routerLink="">Register</a>
    </div>
    <div>
        <form style="margin:20px;">
            <div class="form-group">
                <label><b>Email:</b></label>
                <input type="text" name="email" placeholder="Enter email" class="form-control">
            </div>
            <div class="form-group">
                <label><b>Password</b></label>
                <input type="password" name="password" placeholder="Enter password" class="form-control">
            </div>
            <div class="register-btn" style="justify-content: center; display: flex; margin-top: 30px;">
                <button type="submit" class="btn-dark btn" style="color: white; background-color: black;">Sign In</button>
            </div>
        </form>
    </div>
</div>