<div class="container col-md-6">
    <div class="head" style="display: flex;">
        <h1><b>User Profile</b></h1>
    </div>
    <br><br>
    <table class="table">
        <thead style="background-color: black; color:white;">
            <tr>
                <th style="text-align: center;" colspan="2">User details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Name:</b></td>
                <td>{{user.fullName}}</td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
    <div style="display: flex; justify-content: center;">
        <a class="btn btn-dark" (click)="logout()">Logout</a>
    </div>
</div>