<!DOCTYPE html>
<html>
  <head>
    <title>Grocery Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="login">
  		<img src="/images/logo.png" style="max-height: 70px; display: inline;" align="left"><p>LOGIN</p>
  	</div>
    <div id="header">
    	<p id="title">Groceries Store</p>
    </div>
    <div style="height: 30px;"></div>
    <div id="details">
    	<p style="font-size: 30px;">Your total amount is $ 45.00</p>
    	<br>
    	<br>
    	<div id="form">
    		<label><b>Name:  </b></label><input type="text" name="name"><br><br>
    		<label><b>Phone Number:  </b></label><input type="text" name="phone"><br><br>
    		<label><b>Email:  </b></label><input type="email" name="email"><br><br>
    		<label><b>Address:  </b><br></label><textarea rows="2" cols="40"></textarea><br><br>
    		<label><b>Choose deilvery slot:  </b></label>
    		<select>
    			<option>02:30 AM to 10:45 AM (+ $4,00)</option>
    			<option>12:30 PM to 13:45 PM (+ $2.00)</option>
    			<option>14:30 PM to 18:45 PM</option>
    		</select>
    		<br><br><br>
    		<button id="submit">SUBMIT</button>
    	</div>
    </div>
  </body>
</html>
