<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <h1 class="heading">Login</h1>
        <form>
            <div class="input_1">
                <p1>Email</p1><br>
                <input type="text" name="nam">
                <br>
            </div>
            <div class="input_2">
                <p1>Password</p1><br>
                <input type="password" name="pass">
                <br>
            </div>
            <div class="button" id="home_login">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>