<div class="container col-md-6 col-sm-12">
    <h2>Register Page</h2>
    <form action="/register" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
      <small>Already have an account? <a href="/">Login</a></small>
      
      <!-- If user already exists -->
      <% if (typeof(error)!='undefined') { %>
        <div class="alert alert-danger" role="alert">
          User already exists
        </div>
      <% } %>
</div>