<div>
    <div class="form-group">
        <label><b>New Task:</b> </label>
        <input class="form-control" type="text" #taskname placeholder="Enter task name" [(ngModel)]="newTask" required >
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="addNewTask(taskname.value)" ><b>+ </b>Add Task</button>
    </div>
    <br><br>
    <h2>Your new task is: {{newTask}}</h2>
</div>
<br><br>

<div *ngIf="tasks.length>0">
    <h3>Your Tasks</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td [class.complete]="task.isComplete">{{task.name | uppercase}}</td>
                <td><button (click)="toggleComplete(task)" class="btn-primary">{{task.isComplete==true ? 'Mark Incomplete' : 'Mark Complete'}}</button></td>
                <td><button class="btn-danger" (click)="deleteTask(task)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>