<div class="container col-md-6">
<br><br><h4>Your Details</h4><br>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <label>Username</label>
        <input type="text" ngModel #username="ngModel" class="form-control" name="username" placeholder="Enter username" >
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" ngModel #password="ngModel" class="form-control" name="password" placeholder="Enter password" >
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="email" ngModel #email="ngModel" class="form-control" name="email" placeholder="Enter email address" >
        </div>
        <div class="form-group col-md-6">
            <label>Phone Number</label>
            <input type="text" ngModel #phone="ngModel" class="form-control" name="phone" placeholder="Enter phone number" >
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>First Name</label>
            <input type="text" ngModel #fname="ngModel" class="form-control" name="fname" placeholder="Enter first name">
        </div>
        <div class="form-group col-md-4">
            <label>Last Name</label>
            <input type="text" ngModel #lname="ngModel" class="form-control" name="lname" placeholder="Enter last name">
        </div>
        <div class="form-group col-md-4">
            <label>Age</label>
            <input type="number" ngModel #age="ngModel" class="form-control" name="age" placeholder="Enter age" min="18">
        </div>
    </div>
    <br>
    <h4>Your Shipping Address</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Address line 1</label>
            <input type="text" ngModel #line1="ngModel" class="form-control" name="line1" placeholder="Enter address line 1">
        </div>
        <div class="form-group col-md-4">
            <label>Address line 2</label>
            <input type="text" ngModel #line2="ngModel" class="form-control" name="line2" placeholder="Enter address line 2">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>City</label>
            <input type="text" ngModel #city="ngModel" class="form-control" name="city" placeholder="Enter city">
        </div>
        <div class="form-group col-md-4">
            <label>State</label>
            <input type="text" ngModel #state="ngModel" class="form-control" name="state" placeholder="Enter state">
        </div>
        <div class="form-group col-md-4">
            <label>Country</label>
            <input type="text" ngModel #country="ngModel" class="form-control" name="country" placeholder="Enter country" min="18">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>PIN</label>
            <input type="text" ngModel #pin="ngModel" class="form-control" name="pin" placeholder="Enter pin" min="18">
        </div>
    </div>
    <div class="form-group col-md-6" style="margin-left: 250px;">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
</div>