<div class="container col-md-6">
<br><br><br>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <label>Username</label>
        <input type="text" ngModel #username="ngModel" class="form-control" name="username" placeholder="Enter username" >
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" ngModel #password="ngModel" class="form-control" name="password" placeholder="Enter password" >
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" ngModel #email="ngModel" class="form-control" name="email" placeholder="Enter email address" >
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>First Name</label>
            <input type="text" ngModel #fname="ngModel" class="form-control" name="fname" placeholder="Enter first name">
        </div>
        <div class="form-group col-md-4">
            <label>Last Name</label>
            <input type="text" ngModel #lname="ngModel" class="form-control" name="lname" placeholder="Enter last name">
        </div>
        <div class="form-group col-md-4">
            <label>Age</label>
            <input type="number" ngModel #age="ngModel" class="form-control" name="age" placeholder="Enter age" min="18">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
</div>